.container{
    width: 950px;
    background-color: silver;
    margin: 10px  auto;
    display: inline-block;
}
.top-nav {
    height: 150px;
    background-color: green;
    display: block;
    margin: 15px 15px 15px 15px;
}
.side-nav {
    height: 300px;
    width: 200px;
    background-color: blue;
    display: inline-block;
    margin: 15px 10px 15px 15px;
    
}
.main {
    height: 400px;
    width: 700px;
    background-color: red;
    float:right;
    display: inline-block;
    margin: 15px 15px 15px 10px;
}
.sub-content {
    height: 200px;
    width: 210px;
    background-color: yellow;
    float: left;
    display: inline;
    margin: 10px 8px 10px 8px;
}
#advertisement {
    height: 120px;
    width: 660px;
    background-color: purple;
    float: left;
    display: inline;
    margin: 10px 10px 10px 10px;
}

